<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>link</string>
		<key>title</key>
		<string>复制链接</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wechat</string>
		<key>title</key>
		<string>微信好友</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sms</string>
		<key>title</key>
		<string>短信</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wechat-moments</string>
		<key>title</key>
		<string>微信朋友圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>weibo</string>
		<key>title</key>
		<string>微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qq</string>
		<key>title</key>
		<string>QQ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qq-zone</string>
		<key>title</key>
		<string>QQ空间</string>
	</dict>
</array>
</plist>
